body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* .header {}

.header-logo {}

.header-link {}

.header-menu {}

.header-menu-item {}

.address {}

.address-menu {}

.address-item {}

.main {}

.main-hero {}

.main-hero-title {}

.main-hero-btn {}

.advantages {}

.advantages-title {}

.advantages-list {}

.advantages-list-item {}

.advantages-list-title {}

.advantages-list-text {}

.team {}

.team-title {}

.team-list {}

.team-list-item {}

.team-list-img {}

.team-member-title {}

.team-member-text {}

.portfolio {}

.portfolio-title {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-title {}

.portfolio-list-text {}

.portfolio-item {}

.footer {}

.footer-logo {}

.fooret-text {} */














/*
header {
    width: 1440px;
    height: 72px;

}

.logo {
    padding-top: 24px;
    padding-left: 156;
    padding-right: 1169;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
}

.hero {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
    padding-top: 72px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}
*/